
html {
  background-image: repeating-linear-gradient(
    to bottom,
    #5c8eb9 0%,
    rgb(217, 237, 250) 50%,
    rgb(217, 237, 250) 50%,
    #5c8eb9 100%
  );
  background-repeat: no-repeat;
}

body {
    box-sizing: border-box;
    color: aliceblue;
    font-size: 1.7rem;
    margin: 0;
}

.header {
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 8rem;
    width: 100%;
    box-sizing: border-box;
    left: 0;
    top: 0;
    margin: 0;
    background-color: #124E83;
    border-radius: 100%;
    align-items: center;
    z-index: 1;
    
}

.footer {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 6rem;
    width: 100%;
    box-sizing: border-box;
    background-color: #124E83;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: inherit;
  }

.logo {
    flex: 1;
    display: flex;
    justify-content: center;
}

.logo__image {
    background-image: url('/public/logo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
}

.about {
    flex: 1;
    display: flex;
    justify-content: center;
}

.home {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.form {
    display: grid;
    background-color: rgb(238, 238, 238, 0.2);
    width: 30%;
    border-radius: 10px;
    padding: 1rem;
}

.input {
    margin-top: 0.3rem;
    margin-bottom: 1.5rem;
    outline: none;
    border-radius: 5px;
    height: 2rem;
    font-size: 1.2rem;
    color: #434343 ;
    width: 100%;
    max-width: 80%;
    border: none;
}

.picker {
    padding: 0.5rem;
    display: flex;
    justify-content: row;
    max-width: 80%;
    margin: 0 auto;
}

.numberPicker {
    flex: 1;
    outline: none;
    border-radius: 8px;
    height: 2.2rem;
    font-size: 1.5rem;
    margin: 0 auto;
    border: 0;
    background: linear-gradient(to right, #124E83, #376690);
    background-size: 200% 100%; 
    transition: background 0.3s ease-in-out;
}

.questions {
    outline: none;
    border-radius: 5px;
    height: 2rem;
    font-size: 1.2rem;
    color: #434343 ;
    border: 0;
    text-align: center;
    width: fit-content;
    min-width: 15%;
    max-width: 30%;
}

.numberPicker:hover {
    cursor: pointer;
}

.numberPicker:disabled {
  background: #376690;
}

svg {
    display: block;
    top: 10%;
    width: 10%;
    max-width: 20rem;
    min-width: 10rem;
  }
  path {
    stroke: #124E83;
    stroke-linecap:round;
    stroke-width: 42;
    fill:none;
  }
  #sec {
    stroke: #6f7f24;
    stroke-width: 20;
    transform: rotate(30deg);
  }

  .time-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  .range-slider {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  .range-slider__range {
    -webkit-appearance: none;
    width: calc(100% - ( 60px + 13px));
    height: 10px;
    border-radius: 5px;
    background:#6f7f24;
    outline: none;
    padding: 0;
    /* margin: 0 auto; */
  
  }
  
  .range-slider__range::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background .15s ease-in-out;
  }

  .range-slider__range::-webkit-slider-thumb:hover {
    background: #124E83;
  }

  .range-slider__range:active::-webkit-slider-thumb {
    background: #124E83;
  }

  .range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background .15s ease-in-out;

    
  }

  .range-slider__range::-moz-range-thumb:hover {
    background: #124E83;
  }

  .range-slider__range:active::-moz-range-thumb {
    background: #124E83;
  }

  .range-slider__range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px #fff,
                0 0 0 6px #124E83;
  }
  
  .range-slider__value {
    display: inline-block;
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #2c3e50;
    padding: 5px;
  }
  
  ::-moz-range-track {
      background: #d7dcdf;
      border: 0;
  }
  
  input::-moz-focus-inner,
  input::-moz-focus-outer { 
    border: 0; 
  }

  .submit {
    font-size: inherit;
    border-radius: 8px;
    padding: 0.2rem 2rem;
    border: 2px solid #124E83;
    background: #124E83;
    color: aliceblue;  
    transition: border 0 ease;
  }

  .submit:hover{
    cursor: pointer;
    border: 2px solid #d7dcdf;
    background: none;
  }

  .submit:active {
    transform: translateY(2px);
  }

  .loading {
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    opacity: 70%;
    background-color: rgb(212, 228, 243);
  }

  .loader {
    width: 2rem;
    height: 2rem;
    display: block;
    color: #124E83;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 50%;
    left: 50%;
    transform: scale(0.5) translate(0, 0);
    background-color: #124E83;
    border-radius: 50%;
    animation: animloader 1s infinite ease-in-out;
  }
  .loader::before {
    background-color: #6f7f24;
    transform: scale(0.5) translate(-48px, -48px);
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  @keyframes animloader {
    50% {
      transform: scale(1) translate(-50%, -50%);
    }
  }

  .contest-page {
    height: 100vh;
    margin-top: 8rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

  .GK {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    z-index: 0;
  }

  .question {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .questionLine {
    font-weight: bold;
  }

  .questionOptions {
    padding: 1rem;
    background-color:#6f7f24;
    border-radius: 5px;
    cursor: pointer;
  }

  .questionOptions input {
    opacity: 0;
    position: absolute;
    pointer-events: none;
  }

  .radioDiv {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
  }

  .radio-button {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
  }
  
  .radio-button:after {
    text-align: center;
    content: "";
    display: none;
    position: absolute;
    left: 0.25rem;
    width: 0.3rem;
    height: 0.7rem;
    border: solid white;
    border-width: 0 0.2rem 0.2rem 0;
    transform: rotate(45deg);
  }
  
  input[type="radio"]:checked + .radioDiv .radio-button:after {
    display: block;
  }
  
  @media screen and (max-width: 768px) {
    .header {
      height: 4rem;
    }
    .footer {
      height: 3rem;
      font-size: 1.3rem;
    }
    .about {
      font-size: 1.3rem;
    }
    .logo__image {
      width: 3rem;
      height: 3rem;
    }
    .home {
      height: 100vh;
      gap: 1rem;
      font-size: 1.3rem;
    }
    .form {
      width: 90%;
      border-radius: 10px;
      /* margin: 1rem; */
    }
  }

  @media screen and (orientation: landscape) and (max-width: 768px) {
    .home {
      height: 150vh;
      margin-top: 5rem
    }
  }