html {
  background-color: #376690;
}

body {
    box-sizing: border-box;
    color: aliceblue;
}

.header {
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 8rem;
    width: 100%;
    box-sizing: border-box;
    left: 0;
    top: 0;
    margin: 0;
    background-color: #124E83;
    border-radius: 100%;
    align-items: center;
    
}

.footer {
  height: 200rem;
}

.logo {
    flex: 1;
    display: flex;
    justify-content: center;
}

.logo__image {
    background-image: url('/public/logo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
}

.about {
    flex: 1;
    display: flex;
    justify-content: center;
    font-size: 1.7rem;
}

.home {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 1.7rem;
}

.form {
    display: grid;
    background-color: rgb(238, 238, 238, 0.2);
    width: 30%;
    border-radius: 10px;
    padding: 1rem;
}

.input {
    margin-top: 0.3rem;
    margin-bottom: 1.5rem;
    outline: none;
    border-radius: 5px;
    height: 2rem;
    font-size: 1.2rem;
    color: #434343 ;
    width: 100%;
    max-width: 80%;
    border: none;
}

.picker {
    padding: 0.5rem;
    display: flex;
    justify-content: row;
    max-width: 80%;
    margin: 0 auto;
}

.numberPicker {
    flex: 1;
    outline: none;
    border-radius: 8px;
    height: 2.2rem;
    font-size: 1.5rem;
    margin: 0 auto;
    border: 0;
    background: linear-gradient(to right, #124E83, #376690);
    background-size: 200% 100%; 
    transition: background 0.3s ease-in-out;
}

.questions {
    outline: none;
    border-radius: 5px;
    height: 2rem;
    font-size: 1.2rem;
    color: #434343 ;
    border: 0;
    text-align: center;
    width: fit-content;
    min-width: 15%;
    max-width: 30%;
}

.numberPicker:hover {
    cursor: pointer;
}

.numberPicker:disabled {
  background: #376690;
}

svg {
    /* position: absolute; */
    display: block;
    top: 10%;
    width: 10%;
    max-width: 20rem;
    min-width: 10rem;
    /* height: 80%; */
  }
  path {
    stroke: #124E83;
    stroke-linecap:round;
    stroke-width: 42;
    fill:none;
  }
  #sec {
    stroke: #6f7f24;
    stroke-width: 20;
    transform: rotate(30deg);
  }

  .time-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  .range-slider {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  .range-slider__range {
    -webkit-appearance: none;
    width: calc(100% - ( 60px + 13px));
    height: 10px;
    border-radius: 5px;
    background:#d7dcdf;
    outline: none;
    padding: 0;
    /* margin: 0 auto; */
  
  }
  
  .range-slider__range::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background .15s ease-in-out;
  }

  .range-slider__range::-webkit-slider-thumb:hover {
    background: #124E83;
  }

  .range-slider__range:active::-webkit-slider-thumb {
    background: #124E83;
  }

  .range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background .15s ease-in-out;

    
  }

  .range-slider__range::-moz-range-thumb:hover {
    background: #124E83;
  }

  .range-slider__range:active::-moz-range-thumb {
    background: #124E83;
  }

  .range-slider__range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px #fff,
                0 0 0 6px #124E83;
  }
  
  .range-slider__value {
    display: inline-block;
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #2c3e50;
    padding: 5px;
  }

  .range-slider__value:after {
    position: absolute;
    top: 8px;
    left: 7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #2c3e50;
    border-bottom: 7px solid transparent;
    content: '';
  }
  
  ::-moz-range-track {
      background: #d7dcdf;
      border: 0;
  }
  
  input::-moz-focus-inner,
  input::-moz-focus-outer { 
    border: 0; 
  }

  .submit {
    font-size: inherit;
    border-radius: 8px;
    padding: 0.2rem 2rem;
    border: 2px solid #124E83;
    /* border-width: 2px;
    border-color: #124E83; */
    background: #124E83;
    color: aliceblue;  
    transition: border 0 ease;
  }

  .submit:hover{
    cursor: pointer;
    border: 2px solid #d7dcdf;
    background: none;
  }

  .submit:active {
    transform: translateY(2px);
  }

  @media screen and (max-width: 768px) {
    .header {
      height: 4rem;
    }
    .about {
      font-size: 1.3rem;
    }
    .logo__image {
      width: 3rem;
      height: 3rem;
    }
    .home {
      height: 100vh;
      gap: 1rem;
      font-size: 1.3rem;
    }
    .form {
      width: 90%;
      border-radius: 10px;
    }
  }

  @media screen and (orientation: landscape) {
    .home {
      margin-top: 10rem;
    }
  }